@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="admin-dashboard-container">
    <h2 class="manage-heading">Admin Dashboard</h2>

    <div class="sidebar">
        <ul>
            <li><a asp-controller="Admin" asp-action="Members">Members</a></li>
            <li><a asp-controller="Resource" asp-action="Index">Resources</a></li>
            <li><a asp-controller="Admin" asp-action="Events">Events</a></li>
            <li><a asp-controller="Admin" asp-action="Payments">Payments</a></li>
        </ul>
    </div>
</div>
