@model IEnumerable<ClubActivityManager.Models.Payment>

@{
    ViewData["Title"] = "Payments";
}

<div class="form-container">
    <div class="form-content">
        <h2 class="form-heading">Payments</h2>

        <a asp-action="AddPayment" class="btn btn-lg btn-success mb-3">Add Payment</a>


        <table class="table styled-table">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Amount</th>
                    <th>Method</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in Model)
                {
                    <tr>
                        <td>@payment.Member?.UserName</td>
                        <td>@payment.Amount.ToString("C")</td>
                        <td>@payment.Method</td>
                        <td>@payment.PaymentDate.ToString("g")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
