@{
    ViewData["Title"] = "Club Flacăra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="landing-content">
    <div class="landing-text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales, sapien non blandit finibus, mauris risus placerat metus, sed facilisis massa lacus in enim. Suspendisse id ex vel dolor eleifend tincidunt sed vel lacus. Quisque quis odio ut quam laoreet feugiat vel id turpis. Proin non metus lorem. Nam sit amet posuere ante, nec egestas nisl. Aliquam erat volutpat. Aliquam tempus at urna sit amet luctus. Maecenas laoreet nulla felis. Etiam id mollis nisi.
            Vestibulum dictum fringilla mi, vitae malesuada arcu lobortis a. Vestibulum interdum magna ut ullamcorper ultricies. Fusce ut velit et tellus finibus suscipit id vitae metus. Phasellus sollicitudin convallis porta. Morbi ipsum nibh, gravida a vehicula nec, tincidunt nec neque. Pellentesque feugiat, justo eget gravida auctor, metus sapien feugiat velit, sed tempor purus metus non mauris. Donec quis enim id elit sagittis congue id eu justo. Sed lectus tellus, cursus quis nisl ut, molestie aliquet sem.
        </p>
    </div>
    <div class="landing-image">
        <img src="~/assets/guitar.png" alt="Club members" asp-append-version="true" />
        <div class="image-caption">Mai mult decât un club.</div>
    </div>
</div>
