@using Microsoft.AspNetCore.Identity
@using ClubActivityManager.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="member-login-container">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a class="login-button profile-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @UserManager.GetUserName(User)!
            </a>
        </li>
        <li>
            <form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="login-button">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a class="login-button" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a class="login-button" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
