@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div>
    <div>
        <h1 class="manage-heading text-center">
            Manage Your Account
        </h1>
    </div>

    <div class="manage-account-container">
        <div class="landing-content identity-layout">
            <div class="manage-nav">
                <partial name="_ManageNav" />
            </div>
            <div class="manage-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
